/* styles.scss */
/* Importation de la police Roboto depuis Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --light: #F3F3F3;
  --green-light: #99E2D0;
  --green: #008766;
  --light-blue: #89C8FA;
  --dark-blue: #003A68;
  --blue-magenta: #9356DC;
  /* Typography */
  --font-weight-700: 700;
  --font-weight-500: 500;
  --font-weight-400: 400;
  --font-weight-300: 300;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-32: 2rem;
  --line-height-28: 1.75rem;
  --line-height-21: 1.315rem;
  --line-height-19: 1.245rem;
}

/* Centering the page content */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* General styles for links */
a {
  color: inherit;
  text-decoration: none;
}

/* Main container with maximum width and spacing */
.main-container {
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
}

/* Styles du header */
.header-container {
  text-align: center;
  width: 100%;
  position: relative;
}
.header-container .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-container .header-content .header-icon-goback {
  display: none;
}
.header-container .header-content .header-logo {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
  width: 100%;
}
.header-container .header-content .header-logo .logo {
  width: 197px;
  height: 36px;
}
.header-container .header-content .header-location {
  display: flex;
  align-items: center;
  background-color: #EAEAEA;
  padding: 10px;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: relative;
}
.header-container .header-content .header-location .header-location-icon {
  margin-right: 10px;
}
.header-container .header-content .header-location .header-location-icon .icon-filter {
  width: 12px;
  height: 16px;
}
.header-container .header-content .header-location .header-location-text {
  font-weight: 500;
  font-size: 1rem;
  color: #353535;
  margin: 0;
}

/* Styles de la section des restaurants */
.restaurants {
  flex: 1;
  background-color: var(--light);
}
.restaurants .restaurants-title {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 80px;
  padding-bottom: 20px;
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-24);
  line-height: var(--line-height-28);
  color: #000000;
  text-align: left;
}
.restaurants .restaurants-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 18px;
  justify-content: space-between;
  width: 100%;
  padding: 0 17px 0 18px;
}
.restaurants .restaurants-cards .card-container .card {
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  flex-direction: column;
  height: 251px;
  position: relative;
}
.restaurants .restaurants-cards .card-container .card img {
  object-fit: cover;
  height: 172px;
}
.restaurants .restaurants-cards .card-container .card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  color: black;
  padding: 15px;
}
.restaurants .restaurants-cards .card-container .card .card-content .card-title {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-21);
}
.restaurants .restaurants-cards .card-container .card .card-content .card-subtitle {
  font-size: var(--font-size-17);
  font-weight: var(--font-weight-300);
  line-height: var(--line-height-19);
}
.restaurants .restaurants-cards .card-container .card .badge {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}
.restaurants .restaurants-cards .card-container .card .badge img {
  width: 80px;
  height: 29px;
}

/* Styles du footer */
.footer {
  background-color: #353535;
  color: #fff;
  padding: 20px;
  text-align: left;
}
.footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footer .footer-container .footer-logo img {
  width: 139px;
  filter: brightness(0) invert(1);
}
.footer .footer-container .footer-links {
  list-style: none;
  padding: 0;
}
.footer .footer-container .footer-links li {
  margin-bottom: 7px;
}
.footer .footer-container .footer-links li:nth-child(1) a, .footer .footer-container .footer-links li:nth-child(2) a {
  font-weight: var(--font-weight-500);
}
.footer .footer-container .footer-links li:nth-child(3) a, .footer .footer-container .footer-links li:nth-child(4) a {
  font-weight: var(--font-weight-400);
}
.footer .footer-container .footer-links li a {
  color: #fff;
  text-decoration: none;
}
.footer .footer-container .footer-links li a img {
  margin-right: 4px;
}
.footer .footer-container .footer-links li a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
