@charset "UTF-8";
/* styles.scss */
/* Importation de la police Roboto depuis Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Colors */
/* Typography */
html {
  scroll-behavior: smooth;
}

/* Centering the page content */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* General styles for links */
a {
  color: inherit;
  text-decoration: none;
}

/* Global Shadow */
.shadow {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.shadow-card {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.shadow-button {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2509803922);
  transition: box-shadow 0.3s ease-in-out;
}
.shadow-button:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3137254902);
}

/* Prevents text selection */
.no-select {
  user-select: none;
}

/* Logo */
.footlogo-text {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* Main container with maximum width and spacing */
.main-container {
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
}

/* Styles du header */
.header {
  text-align: center;
  width: 100%;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__icon-goback {
  display: none;
}
.header__logo {
  padding: 14px 0 5px 0;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 1.875rem;
  line-height: 2.734rem;
  color: #101010;
}
.header__location {
  display: flex;
  align-items: center;
  background-color: #EAEAEA;
  padding: 10px;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.header__location-icon {
  margin-right: 10px;
}
.header__location-text {
  width: 109px;
  font-weight: 500;
  font-size: 1rem;
  color: #353535;
  border: none;
  background-color: transparent;
  outline: none;
}

/* Styles de la section réservation */
.reservation {
  padding-top: 39px;
  padding-bottom: 57px;
  background-color: #F6F6F6;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.reservation__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reservation__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.reservation__subtitle {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.315rem;
  color: #353535;
}
.reservation__button {
  width: 218px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to bottom, #9356DC -11.44%, #FF79DA 123.93%);
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.245rem;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.reservation__button:hover {
  background: linear-gradient(to bottom, #a16be0 -11.44%, #ff93e1 123.93%);
}

/* Styles de la section fonctionnement */
.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 68px 20px;
  background-color: #FFFFFF;
  gap: 26px;
}
.fonctionnement__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.fonctionnement__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.fonctionnement__step {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  position: relative;
  gap: 23px;
}
.fonctionnement__step-number {
  line-height: 1.75rem;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
}
.fonctionnement__step-icon {
  color: #7E7E7E;
  margin-left: 18px;
}
.fonctionnement__step-icon--accent {
  color: #9356DC;
}
.fonctionnement__step-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.245rem;
}

/* Styles de la section des restaurants */
.restaurants {
  flex: 1;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.restaurants__title {
  padding: 54px 80px 20px 20px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #000000;
}
.restaurants__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 18px;
  justify-content: center;
  width: 100%;
  padding: 0 17px 0 18px;
  margin-bottom: 66px;
}
.restaurants__card {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  height: 251px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.restaurants__card:hover {
  transform: scale(1.02);
}
.restaurants__card-image {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  height: 172px;
}
.restaurants__card-image--adjust {
  object-position: 50% 61%;
}
.restaurants__card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: black;
}
.restaurants__card-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}
.restaurants__card-title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.315rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurants__card-subtitle {
  font-size: 1.0625rem;
  font-weight: 300;
  line-height: 1.245rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurants__card-badge {
  width: 80px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
}
.restaurants__card-badge span {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
.restaurants__favorite {
  position: relative;
  width: 24px;
  height: 24px;
  font-size: 1.5rem;
  color: #101010;
  cursor: pointer;
}
.restaurants__favorite:hover {
  color: #9356DC;
}
.restaurants__favorite-checkbox {
  display: none;
}
.restaurants__favorite-checkbox:checked ~ .restaurants__favorite-icon--filled {
  opacity: 1;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants__favorite-checkbox:checked ~ .restaurants__favorite-icon--empty {
  opacity: 0;
}
.restaurants__favorite-icon {
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.restaurants__favorite-icon--empty {
  opacity: 1;
}
.restaurants__favorite-icon--filled {
  opacity: 0;
}

/* Styles du footer */
.footer {
  background-color: #353535;
  color: #fff;
  padding: 20px;
  text-align: left;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footer__logo-title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.3s ease;
}
.footer__logo-title:hover {
  opacity: 0.5;
}
.footer__links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__item {
  display: flex;
  align-items: center;
}
.footer__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 11px;
}
.footer__link:hover {
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
}
.footer__link:not(:hover) {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.footer__link--bold {
  font-weight: 500;
}
.footer__link--normal {
  font-weight: 400;
}
.footer__link-icon {
  display: inline-block;
  width: 12px;
  height: 13px;
  font-size: 12px;
}

/* Media queries Desktop */
@media screen and (min-width: 986px) {
  .main-container {
    max-width: 100%;
  }
  /* Header */
  .header__content {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .header__logo {
    padding: 30px 0 10px 0;
  }
  .header__logo span {
    font-size: 2rem;
  }
  .header__location {
    width: 100%;
    justify-content: center;
    padding: 15px 0;
    background-color: #EAEAEA;
  }
  .header__location-icon {
    margin-right: 17px;
  }
  .header__location-text {
    width: 100%;
    max-width: 120px;
    font-size: 1rem;
  }
  /* Section réservation */
  .reservation {
    padding: 30px 180px;
  }
  .reservation__text .reservation__title {
    font-size: 2rem;
  }
  .reservation__text .reservation__subtitle {
    font-size: 1.25rem;
  }
  /* Section fonctionnement */
  .fonctionnement {
    padding: 50px 180px;
  }
  .fonctionnement__content {
    flex-direction: row;
    justify-content: space-between;
  }
  .fonctionnement__step-container {
    width: 30%;
  }
  /* Section restaurants */
  .restaurants {
    padding: 30px 180px;
  }
  .restaurants__title {
    padding: 30px 0;
  }
  .restaurants__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 100px;
  }
  /* Footer */
  .footer {
    padding: 30px 25px;
  }
  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .footer__links {
    display: flex;
    flex-direction: row;
    gap: 7px;
  }
  .footer__item--large .footer__link {
    min-width: 190px;
  }
  .footer__item--small .footer__link {
    min-width: 130px;
  }
}

/*# sourceMappingURL=styles.css.map */
