/* styles.scss */
/* Importation de la police Roboto depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Colors */
$color-background: #F6F6F6;
$color-badge: #99E2D0;

$color-new: #008766;

$color-primary: #9356DC;
$color-secondary: #FF79DA;


$gradient-primary: linear-gradient(to bottom, $color-primary -11.44%, $color-secondary 123.93%);
$gradient-hover: linear-gradient(to bottom, lighten($color-primary, 5%) -11.44%, lighten($color-secondary, 5%) 123.93%);
$gradient-heart: linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);

/* Typography */
$font-shrikhand: 'Shrikhand', cursive;
$font-weight-700: 700;
$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-300: 300;
$line-height-28: 1.75rem;
$line-height-21: 1.315rem;
$line-height-19: 1.245rem;
$font-size-32: 2rem;
$font-size-24: 1.5rem;
$font-size-18: 1.125rem;
$font-size-16: 1rem;


$font-title: $font-size-32;



/* Centering the page content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

/* General styles for links */
a {
    color: inherit;
    text-decoration: none;
}

$loader-circle-shadow-blur-1	: 0.5rem;
$loader-circle-shadow-blur-2	: 0.2rem;
$loader-circle-shadow-color		: rgba(#555, 0.3);

$colour_primary : #9356DC;
$colour_secondary : #FF79DA;
$colour_tertiary : #99E2D0;

/* see animators for keyframes */

@mixin emit-word($word,$fontsize,$col,$anim, $opacity){
	content				: $word;
	font-size			: $fontsize;
	color				: $col;
	animation			: map-get($anim, "name") map-get($anim, "length") map-get($anim, "style") map-get($anim,"mode");
	opacity				: $opacity;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: loader__anim 3s forwards;
    background-color: rgba(255, 255, 255, 0.3); 

	/* encapsulate the actors (circle, stove, particles) */
	&__actors {
		position				: relative;
		display					: flex;
		justify-content			: center;
		align-content			: center;
		align-items				: center;
		width					: 100%;
		height					: 100%;
	  background				: radial-gradient(rgba($colour_secondary,0.7),darken(rgba($colour_primary,1),50%));
	/*	background				: radial-gradient($colour_secondary,$colour_primary);*/
	/*	background				: radial-gradient($colour_secondary,darken($colour_primary,50%)); */
	}

	/* a grey circle as background for the stove */
	&__circle {
		position				: absolute;
		width					: 300px;
		height					: 300px;
		border-radius			: 100%;
		background				: #444;
		transform				: translate(-10px,-25px);
		animation				: loader__anim--circle 3s infinite ease-in-out;
		
		&::before {
			content				: "";
			position			: absolute;
			top : 0; bottom : 0; left : 0; right : 0;
			border-radius		: 100%;
			box-shadow			: 1rem 1rem $loader-circle-shadow-blur-1 $loader-circle-shadow-color;
			opacity 			: 1;
			animation			: loader__anim--circle-1 3s infinite ease-in-out;
		}
		&::after {
			content				: "";
			position			: absolute;
			top : 0; bottom : 0; left : 0; right : 0;
			border-radius		: 100%;
			box-shadow			: 1rem 1rem $loader-circle-shadow-blur-2 $loader-circle-shadow-color;
			opacity 			: 0;
			animation			: loader__anim--circle-2 3s infinite ease-in-out;
		}
	}
	&__stove {
		position				: relative;
		top						: 30px;
		animation				: loader__anim--stove 2s linear infinite;

		&__container {
			stroke				: #9356DC;
			stroke-width		: 5px;
			fill				: transparent;
		}
		
		&__content {
			fill				: #FD8;
		}
		
	}

	&__emitter {
		/* each emitter can generate a "particule" ":before" and ":after" */
		position				: relative;
		
		&::before, &::after {
			position			: absolute;
		}
		
		&:nth-child(2)::before {
			@include			emit-word("Oh",20px,#fd8,("name":loader__anim--oh, "length":1.1s, "style":linear,"mode":infinite), 1);
		}
		&:nth-child(2)::after {
			@include			emit-word("Oh",20px,$colour_primary,("name":loader__anim--oh-2, "length":1.1s, "style":linear,"mode":infinite), 0);
		}
		&:nth-child(3)::before {
			@include			emit-word("My",18px,#fd8,("name":loader__anim--my, "length":1.3s, "style":linear,"mode":infinite), 1);
		}
		&:nth-child(3)::after {
			@include			emit-word("My",18px,$colour_secondary,("name":loader__anim--my-2, "length":1.3s, "style":linear,"mode":infinite), 0);
		}
		&:nth-child(4)::before {
			@include			emit-word("food",15px,#fd8,("name":loader__anim--food, "length":0.9s, "style":linear,"mode":infinite), 1);
		}
		&:nth-child(4)::after {
			@include			emit-word("food",15px,$colour_tertiary,("name":loader__anim--food-2, "length":0.9s, "style":linear,"mode":infinite), 0);
		}
	}
}



@keyframes loader__anim {
	 0% { opacity : 1.0;}
	75% { opacity : 1.0;}
	99% { opacity : 0.0; transform:scale(1);}
	100%{ transform:scale(0); }
}

@keyframes loader__anim--circle {
	 0% { transform : translate(-0.7rem,-1.5rem); }
	20% { transform : translate(-0.2rem,-1.5rem); }
	50% { transform : translate(-0.7rem,-2.0rem); }
	80% { transform : translate(-0.2rem,-1.2rem); }
	100%{ transform : translate(-0.7rem,-1.5rem); }
}
@keyframes loader__anim--circle-1 {
	 0% { opacity : 1; }
	20% { opacity : 0; }
	50% { opacity : 1; }
	80% { opacity : 0; }
	100%{ opacity : 1; }
}
@keyframes loader__anim--circle-2 {
	 0% { opacity : 0; }
	20% { opacity : 1; }
	50% { opacity : 0; }
	80% { opacity : 1; }
	100%{ opacity : 0; }
}
@keyframes loader__anim--rotation {
	 0% { transform : rotate(  0deg); }
	100%{ transform : rotate(360deg); }
}

@keyframes loader__anim--oh {
	  0% { opacity: 0; transform: translate(30px,   0px) rotate( 30deg) scale(1); }
	 15% { opacity: 1; }
	100%{ opacity: 0; transform: translate(30px,-150px) rotate(-50deg) scale(0.5); }
}
@keyframes loader__anim--oh-2 {
	 0% { opacity: 0; transform: translate(30px,   0px) rotate( 30deg) scale(1); }
	15% { opacity: 0; }
	50% { opacity: 1; }
	100%{ opacity: 0; transform: translate(30px, -150px) rotate( -50deg) scale(0.5); }
}
@keyframes loader__anim--my {
	 0% { opacity: 0; transform: translate(50px,   0px) rotate(-40deg) scale(1); }
	15% { opacity: 1; }
	100%{ opacity: 0; transform: translate(40px,-150px) rotate( 80deg) scale(0.5); }
}
@keyframes loader__anim--my-2 {
	 0% { opacity: 0; transform: translate(50px,   0px) rotate(-40deg) scale(1); }
	15% { opacity: 0; }
	50% { opacity: 1; }
	100%{ opacity: 0; transform: translate(40px,-150px) rotate( 80deg) scale(0.5); }
}
@keyframes loader__anim--food {
	 0% { opacity: 0; transform: translate(70px,   0px) rotate( 60deg) scale(1); }
	15% { opacity: 1; }
	100%{ opacity: 0; transform: translate(60px,-150px) rotate(-30deg) scale(0.5); }
}
@keyframes loader__anim--food-2 {
	 0% { opacity: 0; transform: translate(70px,   0px) rotate( 60deg) scale(1); }
	15% { opacity: 0; }
	50% { opacity: 1; }
	100%{ opacity: 0; transform: translate(60px,-150px) rotate(-30deg) scale(0.5); }
}

@keyframes loader__anim--stove {
	 0% {transform: rotate(-1deg) translate( 0px,  1px);}
	10% {transform: rotate( 1deg) translate(-2px,  2px);}
	20% {transform: rotate( 0deg) translate(-1px,  0px);}
	30% {transform: rotate( 1deg) translate( 2px, -1px);}
	40% {transform: rotate(-1deg) translate( 1px, -2px);}
	50% {transform: rotate( 1deg) translate(-2px,  1px);}
	60% {transform: rotate( 2deg) translate( 0px,  2px);}
	70% {transform: rotate( 1deg) translate(-1px,  1px);}
	80% {transform: rotate(-1deg) translate(-1px, -1px);}
	90% {transform: rotate( 0deg) translate( 1px,  2px);}
	100%{transform: rotate(-1deg) translate( 2px,  1px);}
}

/* Global Shadow */
.shadow {
    box-shadow: 0px 4px 15px 0px #00000026;

    &-card {
        box-shadow: 0px 4px 15px 0px #0000001A;
    }

    &-button {
        box-shadow: 0px 4px 15px 0px #00000040;
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 0px 4px 15px 0px #00000050;
        }
    }
}

/* Prevents text selection */
.no-select {
    user-select: none;
}

/* Logo */
.footlogo-text {
    font-family: $font-shrikhand;
    font-weight: $font-weight-400;
    font-style: italic;
    font-size: $font-size-18;
    line-height: $line-height-28;
}

/* Main container with maximum width and spacing */
.main-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

/* Styles du header */
.header {
    text-align: center;
    width: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__icon-goback {
        display: none;
    }

    &__logo {
        padding: 14px 0 5px 0;
        font-family: $font-shrikhand;
        font-weight: $font-weight-400;
        font-style: italic;
        font-size: 1.875rem;
        line-height: 2.734rem;
        color: #101010;
    }

    &__location {
        display: flex;
        align-items: center;
        background-color: #EAEAEA;
        padding: 10px;
        width: 100%;
        justify-content: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

        &-icon {
            margin-right: 10px;
        }

        &-text {
            width: 109px;
            font-weight: $font-weight-500;
            font-size: $font-size-16;
            color: #353535;
            border: none;
            background-color: transparent;
            outline: none;
        }
    }
}

/* Styles de la section réservation */
.reservation {
    padding-top: 39px;
    padding-bottom: 57px;
    background-color: $color-background;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 27px;

    &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        font-weight: $font-weight-700;
        font-size: $font-size-24;
        line-height: $line-height-28;
    }

    &__subtitle {
        font-weight: $font-weight-300;
        font-size: $font-size-18;
        line-height: $line-height-21;
        color: #353535;
    }

    &__button {
        max-width: 218px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 48px;
        background: $gradient-primary;
        color: #FFFFFF;
        font-weight: $font-weight-500;
        font-size: $font-size-16;
        line-height: $line-height-19;
        border-radius: 25px;
        text-decoration: none;
        transition: opacity 300ms ease-out, transform 300ms ease-out;
        white-space: nowrap;

        &:hover {
            opacity: 0.8;
            transform: scale(1.01);
        }
    }
}

/* Styles de la section fonctionnement */
.fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 48px 20px 68px 20px;
    background-color: #FFFFFF;
    gap: 26px;

    &__title {
        font-weight: $font-weight-700;
        font-size: $font-size-24;
        line-height: $line-height-28;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__step {
        display: flex;
        align-items: center;
        background-color: $color-background;
        border-radius: 20px;
        padding: 20px;
        width: 100%;
        position: relative;
        gap: 23px;

        &-number {
            line-height: $line-height-28;
            color: #FFFFFF;
            background-color: $color-primary;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            position: absolute;
            left: -12px;
            top: 50%;
            transform: translateY(-50%);
        }

        &-icon {
            color: #7E7E7E;
            margin-left: 18px;

            &--accent {
                color: $color-primary;
            }
        }

        &-text {
            font-weight: $font-weight-500;
            font-size: $font-size-16;
            line-height: $line-height-19;
        }
    }
}


/* Styles de la section des restaurants */
.restaurants {
    flex: 1;
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    &__container {
        display: flex;
        justify-content: center;
        background-color: $color-background;;
    }

    &__title {
        padding: 54px 80px 20px 20px;
        font-weight: $font-weight-700;
        font-size: $font-size-24;
        line-height: $line-height-28;
        color: #000000;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        gap: 18px;
        justify-content: center;
        width: 100%;
        padding: 0 17px 0 18px;
        margin-bottom: 66px;
    }

    &__card {
        display: flex;
        background-color: #FFFFFF;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        height: 251px;
        position: relative;
        transition: transform 300ms ease-out;

        &:hover {
            transform: scale(1.01);
        }

        &-image {
            width: 100%;
            object-fit: cover;
            object-position: bottom;
            height: 172px;
        }

        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            color: black;
        }

        &-text {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 5px;
            min-width: 0;
        }

        &-title {
            font-size: $font-size-18;
            font-weight: $font-weight-700;
            line-height: $line-height-21;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-subtitle {
            font-size: 1.0625rem;
            font-weight: $font-weight-300;
            line-height: $line-height-19;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-badge {
            width: 80px;
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px 10px;
            border-radius: 2px;
            background-color: $color-badge;
            color: $color-new;

            span {
                font-weight: $font-weight-500;
                font-size: 0.875rem;
                line-height: 1.0625rem;
            }
        }
    }

    &__favorite {
        position: relative;
        width: 24px;
        height: 24px;
        font-size: 1.5rem;
        color: #101010;
        cursor: pointer;

        &:hover {
            color: $color-primary;
        }

        &-checkbox {
            display: none;

            &:checked ~ .restaurants__favorite-icon--filled {
                opacity: 1;
                background: $gradient-heart;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &:checked ~ .restaurants__favorite-icon--empty {
                opacity: 0;
            }
        }

        &-icon {
            transition: all 0.3s ease;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &--empty {
                opacity: 1;
            }

            &--filled {
                opacity: 0;
            }
        }
    }
}

/* Styles du footer */
.footer {
    background-color: #353535;
    color: #fff;
    padding: 20px;
    text-align: left;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    &__logo {
        &-title {
            font-family: $font-shrikhand;
            font-weight: $font-weight-400;
            font-style: italic;
            font-size: $font-size-18;
            line-height: $line-height-28;
            color: #FFFFFF;
            text-decoration: none;
            transition: opacity 0.3s ease;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &__links {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 11px;

        &:hover {
            opacity: 0.5;
            transition: opacity 0.25s ease-in-out;
        }

        &:not(:hover) {
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
        }

        &--bold {
            font-weight: $font-weight-500;
        }

        &--normal {
            font-weight: $font-weight-400;
        }
    }

    &__link-icon {
        display: inline-block;
        width: 12px;
        height: 13px;
        font-size: 12px;
    }
}


/* Media queries Desktop */
@media screen and (min-width: 986px) {
    /* Header */
    .header {
        &__content {
            flex-direction: column;
            align-items: center;
            padding: 0;
        }

        &__logo {
            padding: 30px 0 10px 0;

            span {
                font-size: $font-size-32;
            }
        }

        &__location {
            width: 100%;
            justify-content: center;
            padding: 15px 0;
            background-color: #EAEAEA;

            &-icon {
                margin-right: 17px;
            }

            &-text {
                width: 100%;
                max-width: 120px;
                font-size: $font-size-16;
            }
        }
    }

    /* Section réservation */
    .reservation {
        padding: 30px 180px;

        &__text {
            .reservation__title {
                font-size: $font-size-32;
            }

            .reservation__subtitle {
                font-size: 1.25rem;
            }
        }
    }

    /* Section fonctionnement */
    .fonctionnement {
        padding: 50px 180px;

        &__content {
            flex-direction: row;
            justify-content: space-between;
        }

        &__step-container {
            width: 30%;
        }
    }

    /* Section restaurants */
    .restaurants {
        padding: 30px 180px;

        &__title {
            padding: 30px 0;
        }

        &__cards {
            grid-template-columns: repeat(2, 1fr);
            gap: 50px 100px;
        }
    }

    /* Footer */
    .footer {
        padding: 30px 25px;

        &__container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
        }

        &__links {
            display: flex;
            flex-direction: row;
            gap: 7px;
        }

        &__item {
            &--large {
                .footer__link {
                    min-width: 190px;
                }
            }

            &--small {
                .footer__link {
                    min-width: 130px;
                }
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .restaurants {
        padding: 30px 0;
        max-width: 1080px;
    }
}
