/* styles.scss */
/* Importation de la police Roboto depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Colors */
$primary: #FFFFFF;
$secondary: #F6F6F6;

$light: #F3F3F3; // Light
$green-light: #99E2D0; // Light Green
$green: #008766; // Green
$light-blue: #89C8FA; // Light Blue
$dark-blue: #003A68; // Dark Blue
$blue-magenta: #9356DC; // Blue Magenta
$gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$hover-gradient: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%),
linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));

/* Typography */
$font-shrikhand: 'Shrikhand',
cursive;
$font-weight-700: 700;
$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-300: 300;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-30: 1.875rem;
$font-size-32: 2rem;
$line-height-28: 1.75rem;
$line-height-21: 1.315rem;
$line-height-19: 1.245rem;
$line-height-43: 2.734rem;

/* Centering the page content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* General styles for links */
a {
    color: inherit;
    text-decoration: none;
}

/* Shadow effect for elements */
.shadow {
    box-shadow: 0px 4px 15px 0px #00000026;

    .shadow-card {
        box-shadow: 0px 4px 15px 0px #0000001A;
    }
}

/* Logo */
.footlogo-text {
    font-family: $font-shrikhand;
    font-weight: $font-weight-400;
    font-style: italic;
    font-size: $font-size-18;
    line-height: $line-height-28;
}

/* Main container with maximum width and spacing */
.main-container {
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
}

/* Styles du header */
.header-container {
    text-align: center;
    width: 100%;

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .header-icon-goback {
            display: none; // Masquer l'icône de retour pour l'instant
        }

        .header-logo {
            padding: 14px 0 5px 0;

            span {
                font-family: $font-shrikhand;
                font-weight: $font-weight-400;
                font-style: italic;
                font-size: $font-size-30;
                line-height: $line-height-43;
                color: #101010;
            }
        }

        .header-location {
            display: flex;
            align-items: center;
            background-color: #EAEAEA;
            padding: 10px;
            width: 100%;
            justify-content: center;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);


            .header-location-icon {
                margin-right: 10px;

                .icon-filter {
                    width: 12px;
                    height: 16px;
                }
            }

            .header-location-text {
                font-weight: 500;
                font-size: 1rem;
                color: #353535;
                margin: 0;
            }
        }
    }
}

/* Styles de la section réservation */
.reservation {
    padding: 20px;
    background-color: $secondary;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .reservation-title {
        font-weight: $font-weight-700;
        font-size: $font-size-24;
        line-height: $line-height-28;
    }

    .reservation-subtitle {
        font-weight: $font-weight-300;
        font-size: $font-size-18;
        line-height: $line-height-21;
        color: #353535;
    }

    .reservation-button {
        display: inline-block;
        padding: 10px 20px;
        background: $gradient;
        color: $primary;
        font-weight: $font-weight-500;
        font-size: $font-size-16;
        line-height: $line-height-19;
        border-radius: 25px;
        text-decoration: none;
        transition: background-color 0.3s;

        &:hover {
            background: $hover-gradient;
        }
    }
}

/* Styles de la section fonctionnement */
.fonctionnement {
    display: flex;
    flex-direction: column;
    height: 440px;
    padding: 20px;
    background-color: $primary;
    justify-content: center;
    gap: 26px;

    .fonctionnement-header {
        .fonctionnement-title {
            font-weight: $font-weight-700;
            font-size: $font-size-24;
            line-height: $line-height-28;
        }
    }

    .fonctionnement-content {
        display: flex;
        flex-direction: column;
        gap: 25px;
    
        .fonctionnement-step-container {
            width: 100%;
            display: flex;
    
            .fonctionnement-step {
                display: flex;
                align-items: center;
                background-color: $secondary;
                border-radius: 20px;
                padding: 20px;
                transition: background-color 0.3s ease;
                width: 100%;
                position: relative;
                gap: 23px;
    
                &:hover .fonctionnement-icon {
                    color: $blue-magenta;
                }
    
                .fonctionnement-number {
                    line-height: $line-height-28;
                    color: $primary;
                    background-color: $blue-magenta;
                    border-radius: 50%;
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    position: absolute;
                    left: -12px;
                    top: 50%;
                    transform: translateY(-50%);
                }
    
                .fonctionnement-icon {
                    color: #7E7E7E;
                    transition: color 0.3s ease;
                    margin-left: 18px;
                }
    
                span {
                    font-weight: $font-weight-500;
                    font-size: $font-size-16;
                    line-height: $line-height-19;
                }
            }
        }
    }
}

/* Styles de la section des restaurants */
.restaurants {
    flex: 1;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .restaurants-title {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 80px;
        padding-bottom: 20px;
        font-weight: $font-weight-700;
        font-size: $font-size-24;
        line-height: $line-height-28;
        color: #000000;
    }

    .restaurants-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        gap: 18px;
        justify-content: center;
        width: 100%;
        padding: 0 17px 0 18px;
        margin-bottom: 66px;

        .card-container {
            .card {
                display: flex;
                background-color: $primary;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s, box-shadow 0.3s;
                flex-direction: column;
                height: 251px;
                position: relative;

                img {
                    object-fit: cover;
                    height: 172px;
                }

                .card-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 8px;
                    color: black;
                    padding: 15px;

                    .card-title {
                        font-size: $font-size-16;
                        font-weight: $font-weight-700;
                        line-height: $line-height-21;
                    }

                    .card-subtitle {
                        font-size: $font-size-18;
                        font-weight: $font-weight-300;
                        line-height: $line-height-19;
                    }
                }

                .badge {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    padding: 5px 10px;
                    border-radius: 5px;

                    img {
                        width: 80px;
                        height: 29px;
                    }
                }
            }
        }
    }
}

/* Styles du footer */
.footer {
    background-color: #353535;
    color: #fff;
    padding: 20px;
    text-align: left;

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        .footer-logo {
            span {
                font-family: $font-shrikhand;
                font-weight: $font-weight-400;
                font-style: italic;
                font-size: $font-size-18;
                line-height: $line-height-28;
            }
        }

        .footer-links {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 7px;

            li {
                display: flex;
                align-items: center;

                &:nth-child(1),
                &:nth-child(2) {
                    a {
                        font-weight: $font-weight-500;
                    }
                }

                &:nth-child(3),
                &:nth-child(4) {
                    a {
                        font-weight: $font-weight-400;
                    }
                }

                .footer-link {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: 11px;

                    &:hover .footer-link-text {
                        text-decoration: underline;
                    }

                    i {
                        display: inline-block;
                        width: 12px;
                        height: 13px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}