/* styles.scss */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    /* Colors */
    --light: #F3F3F3; // Light
    --green-light: #99E2D0; // Light Green
    --green: #008766; // Green
    --light-blue: #89C8FA; // Light Blue
    --dark-blue: #003A68; // Dark Blue
    --blue-magenta: #9356DC; // Blue Magenta

    --font-weight-700: 700;
    --font-weight-500: 500;
    --font-weight-400: 400;
    --font-weight-300: 300;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-32: 2rem;

    --line-height-21: 1.315rem;
    --line-height-19: 1.245rem;
}

/* Centering the page content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; // Assurez-vous que le corps prend toute la hauteur de la fenêtre
}

/* Main container with maximum width and spacing */
.main-container {
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    // gap: 35px;
}

/* Styles du header */
.header-container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .header-icon-goback {
            display: none; // Masquer l'icône de retour pour l'instant
        }

        .header-logo {
            background-color: #FFFFFF;
        }

        .header-location {
            display: flex;
            align-items: center;
            background-color: #EAEAEA;
            padding: 10px;
            width: 100%;
            justify-content: center;
            border-top: 1px solid rgba(0, 0, 0, 0.1);

            .header-location-icon {
                margin-right: 10px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .header-location-text {
                font-family: 'Raleway', sans-serif;
                font-weight: 500;
                font-size: 1rem;
                color: var(--dark-blue);
                margin: 0;
            }
        }
    }
}

/* Styles des cartes de restaurants */
.restaurants-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: var(--light);

    .card-container {
        text-decoration: none;
        color: inherit;
        width: 100%;
        max-width: 346px; // Ajuster la largeur maximale pour correspondre à la largeur de l'image

        .card {
            background-color: #fff;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s, box-shadow 0.3s;

            .card-img {
                width: 100%; // Assurez-vous que l'image prend toute la largeur du conteneur
                height: 231px; // Hauteur fixe pour les images
                object-fit: cover;
                display: block;
            }

            .card-content {
                padding: 15px;

                .card-title {
                    font-size: var(--font-size-24);
                    font-weight: var(--font-weight-700);
                    line-height: var(--line-height-21);
                }

                .card-subtitle {
                    font-size: var(--font-size-17);
                    font-weight: var(--font-weigt-300);
                    line-height: var(--line-height-19);
                }
            }
        }
    }
}

/* Styles du footer */
.footer {
    background-color: #353535;
    color: #fff;
    padding: 20px;
    text-align: center;

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer-logo {
            margin-bottom: 20px;

            img {
                width: 150px;
                filter: brightness(0) invert(1); // Appliquer un filtre pour rendre l'image blanche
            }
        }

        .footer-links {
            list-style: none;
            padding: 0;

            li {
                margin: 10px 0;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: 500;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}