/* styles.scss */
@import '../base/variables';

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Centering the page content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

/* General styles for links */
a {
    color: inherit;
    text-decoration: none;
}


/* Global Shadow */
.shadow {
    box-shadow: 0px 4px 15px 0px #00000026;

    &-card {
        box-shadow: 0px 4px 15px 0px #0000001A;
    }
}

/* Prevents text selection */
.no-select {
    user-select: none;
}

/* Logo */
.footlogo-text {
    font-family: $font-shrikhand;
    font-weight: $font-weight-400;
    font-style: italic;
    font-size: $font-size-18;
    line-height: $line-height-28;
}

/* Main container with maximum width and spacing */
.main-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.bg-section--odd {
    background-color: $color-section--odd;
}

.bg-section--even {
    background-color: $color-section--even;
}

.section {
    flex: 1;
    padding: 48px 18px 68px 18px;

    @include breakpoint(tablet) {
        padding: 48px 180px 68px;
    }

    @include breakpoint(wide) {
        padding: 48px 0 68px;
        max-width: 1080px;
    }

    &__container {
        display: flex;
        justify-content: center;
    }
}

/* Styles du header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    text-align: center;
    width: 100%;
    z-index: 999;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px #0003;
    position: -webkit-sticky;
    position: sticky;
    top: 0;


    @include breakpoint(tablet) {
        height: 6rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    // &__icon-goback {
    //     display: none;
    // }

    &__logo {
        font-family: $font-shrikhand;
        font-weight: $font-weight-400;
        font-style: italic;
        font-size: 1.875rem;
        line-height: 2.734rem;
        color: #101010;

        @include breakpoint(tablet) {
            font-size: 2.25rem;
        }
    }
}

.location {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: #EAEAEA;
    padding: 10px;
    width: 100%;
    z-index: 1;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    &-icon {
        margin-right: 10px;
    }

    &-text {
        width: 109px;
        font-weight: $font-weight-500;
        font-size: $font-size-16;
        color: #353535;
        border: none;
        background-color: transparent;
        outline: none;
    }
}

.new {
    position: relative;
    &::after {
        content: attr(data-new);
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $color-badge;
        color: $color-new;
        padding: 5px 10px;
        border-radius: 2px;
    }
}

/* Styles de la section réservation */
.reservation {
    padding-top: 39px;
    padding-bottom: 57px;
    background-color: $color-background;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 27px;

    &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        font-weight: $font-weight-700;
        font-size: $font-size-24;
        line-height: $line-height-28;
    }

    &__subtitle {
        font-weight: $font-weight-300;
        font-size: $font-size-18;
        line-height: $line-height-21;
        color: #353535;
    }
}

/* Styles de la section fonctionnement */
.fonctionnement {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    gap: 26px;
    

    &__title {
        font-weight: $font-weight-700;
        font-size: $font-size-24;
        line-height: $line-height-28;
    }

    &__content {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    &__step {
        display: flex;
        align-items: center;
        background-color: $color-background;
        border-radius: 20px;
        padding: 20px;
        width: 100%;
        position: relative;
        gap: 23px;

        &-number {
            line-height: $line-height-28;
            color: #FFFFFF;
            background-color: $color-primary;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            position: absolute;
            left: -12px;
            top: 50%;
            transform: translateY(-50%);
        }

        &-icon {
            color: #7E7E7E;
            margin-left: 18px;

            &--accent {
                color: $color-primary;
            }
        }

        &-text {
            font-weight: $font-weight-500;
            font-size: $font-size-16;
            line-height: $line-height-19;
        }
    }
}

/* Styles de la section des restaurants */
.restaurants {
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    &__title {
        padding-left: 2px;
        font-weight: $font-weight-700;
        font-size: $font-size-24;
        line-height: $line-height-28;
        color: #000000;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        gap: 18px;
        justify-content: center;
        width: 100%;
    }

    &__card {
        display: flex;
        background-color: #FFFFFF;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        height: 251px;
        position: relative;
        transition: transform 300ms ease-out;

        &:hover {
            transform: scale(1.01);
        }

        &-figure {
            height: 100%;
            margin: 0;
        }

        &-image {
            width: 100%;
            object-fit: cover;
            object-position: bottom;
            height: 172px;
        }

        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            color: black;
            position: relative;
        }

        &-link {
            display: block;
            text-decoration: none;
            color: inherit;
        }

        &-text {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 5px;
            min-width: 0;
        }

        &-title {
            font-size: $font-size-18;
            font-weight: $font-weight-700;
            line-height: $line-height-21;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-subtitle {
            font-size: 1.0625rem;
            font-weight: $font-weight-300;
            line-height: $line-height-19;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-badge {
            width: 80px;
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px 10px;
            border-radius: 2px;
            background-color: $color-badge;
            color: $color-new;

            span {
                font-weight: $font-weight-500;
                font-size: 0.875rem;
                line-height: 1.0625rem;
            }
        }

        &-link {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }

    &__favorite-container {
        display: flex;
        align-items: center;
        z-index: 2;
    }

    &__favorite {
        position: relative;
        width: 24px;
        height: 24px;
        font-size: 1.5rem;
        color: #101010;
        cursor: pointer;

        &:hover {
            color: $color-primary;
        }

        // Checkbox State
        &-checkbox {
            display: none;

            &:checked ~ .restaurants__favorite-icon--filled {
                opacity: 1;
                background: $gradient-heart;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &:checked ~ .restaurants__favorite-icon--empty {
                opacity: 0;
            }
        }

        // Default Icon State
        &-icon {
            transition: all 0.3s ease;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &--empty {
                opacity: 1;
            }

            &--filled {
                opacity: 0;
            }
        }
    }
}

/* Styles du footer */
.footer {
    background-color: #353535;
    color: #fff;
    padding: 20px;
    text-align: left;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    &__logo {
        &-title {
            font-family: $font-shrikhand;
            font-weight: $font-weight-400;
            font-style: italic;
            font-size: $font-size-18;
            line-height: $line-height-28;
            color: #FFFFFF;
            text-decoration: none;
            transition: opacity 0.3s ease;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &__links {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 11px;

        &:hover {
            opacity: 0.5;
            transition: opacity 0.25s ease-in-out;
        }

        &:not(:hover) {
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
        }

        &--bold {
            font-weight: $font-weight-500;
        }

        &--normal {
            font-weight: $font-weight-400;
        }
    }

    &__link-icon {
        display: inline-block;
        width: 12px;
        height: 13px;
        font-size: 12px;
    }
}


/* Media queries Desktop */
@include breakpoint(desktop) {
    /* Header */
    .header {
        &__content {
            flex-direction: column;
            align-items: center;
            padding: 0;
        }

        &__logo {

            span {
                font-size: $font-size-32;
            }
        }
    }
    
    .location {
        width: 100%;
        justify-content: center;
        background-color: #EAEAEA;

        &-icon {
            margin-right: 17px;
        }

        &-text {
            width: 100%;
            max-width: 120px;
            font-size: $font-size-16;
        }
    }

    /* Section réservation */
    .reservation {

        &__text {
            .reservation__title {
                font-size: $font-size-32;
            }

            .reservation__subtitle {
                font-size: 1.25rem;
            }
        }
    }

    /* Section restaurants */
    .restaurants {

        &__cards {
            grid-template-columns: repeat(2, 1fr);
            gap: 50px 100px;
        }
    }

    /* Footer */
    .footer {
        padding: 30px 25px;

        &__container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
        }

        &__links {
            display: flex;
            flex-direction: row;
            gap: 7px;
        }

        &__item {
            &--large {
                .footer__link {
                    min-width: 190px;
                }
            }

            &--small {
                .footer__link {
                    min-width: 130px;
                }
            }
        }
    }
}
